<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <img src="assets/pictures/bizquiz logo.png" class="logo" alt="" routerLink="/">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu-icon" (click)="openMenu()">
                    <i class="{{menu_icon}}"></i>
                </div>
                <div class="desktop_menu" [class.mobile_menu]="menuValue" *ngIf="!authenticated">
                    <ul>
                        <li class="links" (click)="closeMenu()" routerLink="/">Home</li>
                        <li class="links" (click)="closeMenu()" routerLink="signup">Signup</li>
                        <li (click)="closeMenu()">
                            <button class="start-btn" routerLink="login">Login</button>
                        </li>
                    </ul>
                </div>

                <div class="desktop_menu" [class.mobile_menu]="menuValue" *ngIf="authenticated">
                    <ul>
                        <li class="links" (click)="closeMenu()" routerLink="/">Home</li>
                        <li (click)="closeMenu()">
                            <button class="start-btn" routerLink="login" (click)="logout()">logout</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>