@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.container {
    max-width: 1900px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

ul{
    width: fit-content;
    margin: 0 auto;
}

.bg-logo{
    z-index: 0;
    position: absolute;
    left: -150px;
    bottom: -1300px;
    width: 558px;
    height: 357px;
    opacity: .4;
    overflow: hidden;
}

.footer{
    /* background-color: #003459; */
    background: linear-gradient(to right, #00171F, #007EA7) ;
    box-shadow: 0 1px 6px black;
    margin-top: 150px;
    /* align-self: center; */
    min-height: fit-content;
    z-index: -1;
    overflow: hidden;
}

.footer-container{
    padding-block: 3rem 2rem;
    text-align: center;
    row-gap: 5rem;
    z-index: 2;
}

.footer-content{
    row-gap: 2rem;
    z-index: 1;
}

.footer-content a,
.footer-copy {
    color: white;
    text-decoration: none;
}

.footer-footer{
    justify-content: space-between;
    display: flex;
    border-top: 1px solid white;
    width: 70%;
    margin: 0 auto;
    z-index: 100;
}

span{
    text-align: center;
    margin-top: 30px;

}

.footer-logo{
    font-size: 1.5rem;
    font-weight: 600;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 8px;
    margin-top: 15px;
}

.footer-logo img{
    width: 50px;
    transition: .5s;
}

.footer-logo img:hover{
    transform: scale(1.1, 1.1);
}

.footer-links{
    display: flex;
    justify-content: center;
    
}

.footer-links{
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-link{
    font-weight: 600;
    padding: 0 30px;
    display: inline-block;
}



ul{
    list-style-type: none;
}



.social-container{
    margin-top: 20px ;
    /* justify-content: space-between; */
}

.social-container a{
    border: 1px solid #DDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
    transition: .5s ease;
}

.social-container a:hover{
    border: none;
    background-color: #00171F;
    color: #FFF;
}

fa-icon{
    color: #fff;
}

@media screen and (max-width: 320px) {
    .container{
        margin-inline: 1rem;
    }
    
    
}

@media screen and (max-width: 375px) {
    .container{
        margin-inline: 1rem;
    }
   
    h1{
        font-size: 36px;
        line-height: 50px;
    }
    h2{
        font-size: 26px;
        line-height: 40px;
    }
    
}

@media screen and (max-width: 600px) {

    h1{
        font-size: 36px;
        line-height: 50px;
    }
    h2{
        font-size: 26px;
        line-height: 40px;
    }
    .footer-link{
        
        padding: 0 ;
    }
    span{
        font-size: 10px;
        text-align: center;
    }
    .social-container{
        width: 30%;
        height: 30%;
        font-size: 10px;
    }
    .social-container a{
        width: 20px;
        height: 20px;
    }
}