<body>
    <div id="container" class="container py-5">
    <div class="title"><h1>Sign Up</h1></div>
    <div class="social-container">
        <a href="#" class="social">
            <fa-icon [icon] = "faFacebookF"></fa-icon>
            <!-- <i class="fab fa-facebook-f"></i> -->
        </a>
        <a href="#" class="social">
            <fa-icon [icon] = "faGooglePlusG"></fa-icon>
        </a>
        <a href="#" class="social">
            <fa-icon [icon] = "faLinkedinIn"></fa-icon>
        </a>
    </div>
    <div class="register"><a routerLink="login" id="forgotten" class="forgot">Already have an account?</a></div>
        <div class="sign-up-container">
            <form [formGroup]="form" (submit)="signup()">
                <div class="infield">
                    <input formControlName="username" type="text" autocomplete="false" placeholder="username" />
                    <label class="label"></label>

                    <small *ngIf="username?.invalid && username?.touched">
                        <span class="red" *ngIf="username.errors?.required">
                            Username is required
                            <br>
                        </span>
                    </small>

                </div>
                <div class="infield">
                    <input formControlName="email" type="email" autocomplete="false" placeholder="Email" name="email"/>
                    <label class="label"></label>
                
                                            <!-- TEST -->
                    <small *ngIf="email?.invalid && email?.touched">
                        <span class="red" *ngIf="email.errors?.required">
                            Email is required
                            <br>
                        </span>
                    </small>
                </div>

                <div class="infield">
                    <input formControlName="password" type="password" placeholder="Password" autocomplete="false" />
                    <label class="label"></label>
                
                

                
                    <div class="form-group" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                        <label id="first-msg" class="invalid_msg" [ngClass]="password.hasError('required') || password.hasError('minlength')  ? 'red' : 'green'">
                             <!-- icon -->
                            Must be at least 8 characters!
                        </label>
                        <label class="invalid_msg" [ngClass]="password.hasError('required') || password.hasError('hasNumber')  ? 'red' : 'green'">
                            <!-- icon -->
                            Must contain at least 1 number!
                        </label>
                        <label class="invalid_msg" [ngClass]="password.hasError('required') || password.hasError('hasCapitalCase')  ? 'red' : 'green'">
                            <!-- icon -->
                            Must contain at least 1 in Capital Case!
                        </label>
                        <label class="invalid_msg" [ngClass]="password.hasError('required') || password.hasError('hasSmallCase')  ? 'red' : 'green'">
                            <!-- icon -->
                            Must contain at least 1 Letter in Small Case!
                        </label>
                        <label class="invalid_msg" [ngClass]="password.hasError('required') || password.hasError('hasSpecialCharacters') ? 'red' : 'green'">
                            <!-- icon -->
                            Must contain at least 1 Special Character!
                        </label>
                    </div>
                </div>





                <div id="confirm" class="infield">
                    <input formControlName="confirm_password" type="password" placeholder="Confirm Password" />
                    <label class="label"></label>

                    <small class="red" *ngIf="confirmpassword?.invalid && (confirmpassword?.dirty || confirmpassword?.touched)">
                        <span *ngIf="confirmpassword?.errors?.['required']">
                            Please confirm your password
                        </span>
                        <span *ngIf="confirmpassword?.errors?.MatchingPassword">
                            The password doesn't match
                        </span>
                        <!-- form.get('confirm_password')?.errors?.['mismatch'] -->
                    </small>
                </div>
                <button [disabled]="form.invalid" type="submit">Sign Up</button>
            </form>
        </div>
    </div>   
</body>
